C:\Users\Alex\dineConnect_project\dineConnect_project\settings.py
C:\Users\Alex\dineConnect_project\.venv
C:\Users\Alex\dineConnect_project\businesses
C:\Users\Alex\dineConnect_project\dishes
C:\Users\Alex\dineConnect_project\media