# Django settings
dineConnect_project/settings.py

# Virtual environment
.venv/

# Project directories
businesses/
dishes/
media/

# Python cache files
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# Database
db.sqlite3
*.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

gfgauth/management/