<html>
<head>
<link rel = "stylesheet" type = "text/css" href = "main/email_styling.css" />
</head>
<body>
    <h2> Reservation Cancellation </h2>
    <p> We are sorry to inform you that your reservation at {{ business.business_name }} on {{ reservation.reservation_date }} at {{ reservation.reservation_time }} for a party of {{ reservation.reservation_party_size }} has been cancelled. </p>
    <p> If you have any questions or would like to reschedule, please contact us at {{ business.contact_number }}. </p>
</body>
</html>
