<!-- templates/emails/reservation_confirmation.html -->
<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" type = "text/css" href = "main/email_styling.css" />
</head>
<body>
    <div class="container">
        <h2>New reservation</h2>
        <div class="reservation-details">
            <h3>Details:</h3>
            <div class="detail-item">
                <strong>User:</strong> {{ reservation.user_id.first_name }} {{ reservation.user_id.last_name }}
            </div>
            <div class="detail-item">
                <strong>Date:</strong> {{ reservation.reservation_date }}
            </div>
            <div class="detail-item">
                <strong>Time:</strong> {{ reservation.reservation_time }}
            </div>
            <div class="detail-item">
                <strong>Party Size:</strong> {{ reservation.reservation_party_size }}
            </div>
            <div class="detail-item">
                <strong>Status:</strong> {{ reservation.reservation_status }}
            </div>
        
            
            {% if reservation.dish_id.all %}
            <div class="detail-item">
                <strong>Pre-ordered Items:</strong>
                <ul class="dish-list">
                    {% for dish in reservation.dish_id.all %}
                    <li class="dish-item">
                        {{ dish.dish_name }} - ${{ dish.dish_cost }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            {% if reservation.reservation_special_requests %}
            <div class="detail-item">
                <strong>Special Requests:</strong><br>
                {{ reservation.reservation_special_requests }}
            </div>
            {% endif %}
        </div>
        
        <p>More details available on your dashboard. Please login to view details</p>
        
    </div>
</body>
</html>