{% extends "main/header.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Payment History</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Payment ID</th>
                        <th>Amount</th>
                        <th>Payment Date</th>
                        <th>Payment status</th>
                        <th>Buisness Name</th>
                        <th>View your reservation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.amount }}</td>
                        <td>{{ payment.created_at }}</td>
                        <td>{{ payment.status }}</td>
                        <td>{{ payment.business.business_name }}</td>
                        <td class="btn btn-sm btn-primary"><a href="{%url 'view_reservation' payment.reservation_id%}">View your reservation</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}