.badge.bg-secondary.rounded-pill {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  background-color: black;
  color: #d0b100;
}

a.btn.btn-secondary {
    background-color: #d0b100;
    border-color: #d0b100;
    transition: all 0.2s ease;
    color: black;   
}

a.btn.btn-secondary:hover {
    background-color: #ffd900;
    border-color: #ffd900;
    color: black;
}

a.btn.btn-sm.btn-info {
    background-color: #d0b100;
    border-color: rgba(0, 0, 0, 0.406);
    color: black;
}

a.btn.btn-sm.btn-info:hover {
    background-color: #d0b100;
    border-color: #d0b100;
    color: black;
}
